body {
  background: black;
}

h1 {
  font-size: 74px;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.6em
}

h1:nth-child(2) {
  opacity: 0;

}

span {
  color: #CCC;
  transition: transform 800ms ease-in-out, filter 200ms ease-in, color 200ms ease-in;
  transform: translateX(0px);
  display: inline-block;
}

.is-background {
  color: #AAA;
  transform: scale(0.8);
  filter: blur(1px);
}

.is-foreground {
  color: #FFF;
  transform: scale(1.2);
  filter: blur(1px);
}